Package: cogbox-runner
Version: ${VERSION}
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Cogbox <support@pazity.com>
Description: Cogbox Runner
 The Cogbox Runner manages execution of jobs and sandboxes
 for the Cogbox development environment platform.
Homepage: https://github.com/cognifyi/cogbox
